nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background: #407ccd;
}

body {
    font-family: 'Roboto Slab';
    height: 100%;
    background: #eee;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

#totalPoefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    background: #407ccd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    max-width: 1000px;
    margin-top: 50px;
}

#totalPoefContainer #totalPoef {
    color: #ff6200;
    font-weight: bold;
}

.totalPoef {
    margin: 2px;
    color: #fff;
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#searchPerson {
    width: 95%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
        max-width: 1000px;

}

#searchPerson p {
    margin: 5px;
    color: #407ccd;
    font-weight: bold;
    margin-bottom: 20px;
}

#searchPerson div {
    margin: 5px;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#searchPerson div button {
    font-family: inherit;
    background: #fff;
    border: 1.5px solid #407ccd;
    padding: 5px;
    color: #407ccd;
    width: 30%;
}

#searchPerson div button:hover {
    transition: 0.2s;
    background: #407ccd;
    color: #fff;
}

#searchPerson select {
    margin: 20px;
    width: 30%;
    font-family: inherit;
    height: 30px;
    border: 1.5px solid #407ccd;
    color: #407ccd;
}

#search {
    width: 20%;
    height: 30px;
    background: #407ccd;
    border: 1.5px solid #407ccd;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
}

#message {
    width: 95%;
    background: #407ccd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        max-width: 1000px;

}

#message h2 {
  margin: 10px;
  color: #fff;
}

#message h1 {
  margin: 10px;
  color: #fff;
  font-weight: bold;   
}

#person {
    width: 95%;
    background: #407ccd;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    font-size: 20px;
    flex-direction: column;
        max-width: 1000px;
}

#person div {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
}

#person h1{
    color: #fff;
    margin: 5px;
}



#amountContainer {
    width: 60%;
    background: #fff;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#person .amount {
    margin: 10px;
    font-size: 19px;
    color: #777777
}

#person #amount {
    color: limegreen;
    font-weight: bold;
}

#smallSummary {
    width: 95%;
    background: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 20px 0px;
}

#smallSummary h1 {
    color: #407ccd;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 15px
}

#totem {
    padding: 10px;
}

#searchPerson #preference button{
    color: #fff;
    border: 1px solid #    background: #407ccd;
;
    background: #8FB5E9;
    margin: 10px;
    width: 30%
}

#searchPerson #preference {
    margin-bottom: 0px;
    background: #407ccd;
}

.summaryTable {
  border-collapse: collapse;
  width: 40%;
    text-align: center;
    color: #777;
    margin: 8px;
}

.summaryTable th {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cecece;
}
.summaryTable th, td {
    width: 45%;
    height: 30px;
    vertical-align: middle;
}

.left {
    border-right: 1px solid #cecece
}
.right {
    border-left: 1px solid #cecece
}
