nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background: #0CAD9A     ;
}

body {
    font-family: 'Roboto Slab';
    height: 100%;
    background: #eee;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

#totalPoefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    background: #fff     ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    max-width: 1000px;
    margin-top: 50px;
}

#totalPoefContainer #totalPoef {
    color: #ff6200;
}

.totalPoef {
    margin: 2px;
    color: #0CAD9A;
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#searchPerson {
    width: 95%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px 0px;
    max-width: 1000px;

}

#searchPerson p {
    color: #fff;
    background: #0CAD9A;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchPerson div {
    margin: 5px;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#searchPerson div button {
    font-family: inherit;
    background: #fff;
    border: 1.5px solid #0CAD9A     ;
    padding: 5px;
    color: #0CAD9A     ;
    width: 30%;
}

#searchPerson div button:hover {
    transition: 0.2s;
    background: #0CAD9A     ;
    color: #fff;
}

#searchPerson select {
    margin: 10px 20px;
    width: 30%;
    font-family: inherit;
    height: 30px;
    border: 1.5px solid #0CAD9A     ;
    color: #3e5351     ;
}

#search {
    width: 20%;
    height: 30px;
    background: #0CAD9A     ;
    border: 1.5px solid #0CAD9A     ;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
}

#message {
    width: 95%;
    background: #0CAD9A     ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        max-width: 1000px;

}

#message h2 {
  margin: 10px;
  color: #fff;
}

#message h1 {
  margin: 10px;
  color: #fff;
  font-weight: bold;   
}

#person {
    width: 95%;
    background: #0CAD9A     ;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    font-size: 20px;
    flex-direction: column;
        max-width: 1000px;
}

#person div {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
}

#person h1{
    color: #fff;
    margin: 5px;
}



#amountContainer {
    width: 60%;
    background: #fff;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#person .amount {
    margin: 10px;
    font-size: 19px;
    color: #777777
}

#person #amount {
    color: limegreen;
    font-weight: bold;
}

#smallSummary {
    width: 95%;
    background: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 10px 0px;
}

#smallSummary h1 {
    color: #0CAD9A     ;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    
}

#totem {
    padding: 10px;
}

#searchPerson #preference button{
    color: #fff;
    border: 1px solid #eee;
    background: #0CAD9A ;
    margin: 10px 30px;
    width: 20%
}

#searchPerson #preference {
    border-top: 1px solid #2222;
    border-bottom: 1px solid #2222;
    width: 70%;
    justify-content: center;
}

.summaryTable {
  border-collapse: collapse;
  width: 40%;
    text-align: center;
    color: #777;
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 3px
}

.summaryTable th {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cecece;
}
.summaryTable th, td {
    width: 45%;
    height: 30px;
    vertical-align: middle;
}

.left {
    border-right: 1px solid #cecece
}
.right {
    border-left: 1px solid #cecece
}

.tableTitle {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #0CAD9A;
    font-weight: 600;
}
